@media screen and (max-width:1020px){
    #sytle-introduction{
      font-size: 30px;
      margin: 0 130px ;
    }
    }
  @media screen and (max-width:915px){
    #style-title{
      font-size: 80px;
    }
    #sytle-introduction{
      font-size: 25px;
      margin: 0 100px;
    }
    }
    @media screen and (max-width:768px){

      #play{
        position: fixed;
        top: -9.5px;
        right: -5px;
      }
    }
    @media screen and (max-width:735px){
      #style-title{
        font-size: 70px;
      }
    }
    @media screen and (max-width:642px){
      #style-title{
        font-size: 60px;
      }
    }


  @media screen and (max-width:550px){
    #style-title{
      font-size: 52px;
      }

    }
  @media screen and (max-width:500px){
    #style-title{
      font-size: 45px;
    }
    }
   @media screen and (max-width:450px){
    #style-title{
      font-size: 45px;
      }
      }
    @media screen and (max-width:450px){
      #style-title{
      font-size: 45px;
      }
    }
    @media screen and (max-width:410px){
      #style-title{
        font-size: 40px;
        }
      #sytle-introduction{
        position: relative;
        left: -30px;
      }
      }
      @media screen and (max-width:368px){
        #style-title{
          font-size: 30px;
          }
        #sytle-introduction{
          font-size: 20px;
          position: relative;
          left: -30px;
        }
        }

/*BOTONES DE ROLES*/

        @media (max-width: 670PX) {
          .roles_li {
            margin: 10px;
            padding: 0;
            margin-bottom: 0;
            font-size: 25px;
          }
        }

/*MODAL RESPONSIVE */

        @media (max-width: 900px) {
          .close {
            left: 97%;
          }
        }

        @media (max-width:900px) {
          .modalDialog > section {
            width: 70%;
            left: 15%;
            max-width: none;
            margin-left: 0;
          }

          #description {
            left: 340px;
            top: 320px;
            width: 40%;
          }

          .default{
            text-align: left;
            padding: 0 10px 2px;
            top: 90px;
          }
        }

        @media (max-width: 720px) {
          #description {
            left: 230px;
            top: 320px;
            width: 50%;
          }

          #rol {
            font-size: 25px;
          }
        }

        @media (max-width: 470px) {
          /*table {
            width: 50%;
            height: 300px;
          }
*/
          #description {
            left: 180px;
            top: 235px;
            width: 40%;
            font-size: 11px;
          }

          #rol{

            text-align: center;
            padding: 0 0px 0px;
            top: 250px;
            left: 20px;
            font-size: 20px;
          }
          .default {
            text-align: left;
            padding: 0 10px 2px;
            top: 50px;
            width: 20%;
            font-size: 10px;
            left: 126px;
          }
          tr{

            text-align: left;
            padding: 0 10px 2px;
            top: 90px;
            width: 20%;
          }

         /*tbody{*/
              /*
              text-align: left;
              padding: 0 10px 2px;
              top: 90px;
              width: 20%;
            */
         /* }*/

        }

        @media(max-width: 320px) {
          tr{
            text-align: left;
            padding: 0 10px 2px;
            top: 90px;
            width: 20%;
        }

        #description {
          left: 180px;
          top: 250px;
          width: 20%;
          font-size: 10px;
        }
      }
